<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!--  <filter>
	    <filter-name>LoginPageFilter</filter-name>
	    <filter-class>
	        fr.la.juserright.managedbean.LoginPageFilter
	    </filter-class>
	    <init-param>
	       <param-name>test-param</param-name>
	       <param-value>This parameter is for testing.</param-value>
	    </init-param>
	</filter>

	<filter-mapping>
	    <filter-name>LoginPageFilter</filter-name>
	    <url-pattern>/index.jsf</url-pattern>
	</filter-mapping> -->

	<session-config>
        <session-timeout>1</session-timeout>
    </session-config>

	<!-- Pages de redirection en cas d'erreur -->
	<error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.jsf</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsf</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsf</location>
	</error-page>
</web-app>